body{
    background-image: url('../img/fundo_inicial.png');
    background-size: 98%;
    background-repeat: no-repeat;
    background-color: black;
    
}

h1,
p,
a{
    text-align: center;
    font-family: 'Orbitron';
    color:white;
}

h1{
    margin-top:10%;
    font-size: 3em;
}

p{
    margin-top:10%;
    font-size: 1.5em;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: rgba(37, 37, 37, 0.295);
    color:rgb(199, 199, 199);
}

#nave{
    transform: rotate(46deg);
    position: relative;
    animation-name: aumentar;
    animation-name: andar;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}



@keyframes andar {
    from{top:40 px; left: 158px;}
    to{top:300 px;left: 858px;}
}

@keyframes aumentar {
    from{scale:0%}
    to{scale:100%}
}


